/* MAIN BODY */
.body-all {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.custom-bg{
    background-color: #0a0a0a;
    color: white;
}
.category{
    border-bottom: 5px solid#242424;
}
.custom-page{
    border-radius: 1rem;
    background-color: #242424;
}
.game-img{
    border-radius: 1rem;
    margin: 1rem;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.custom-size{
    height: 15rem;
}

/* HEADER */
.header{
    background-color: #a789f9;
}
.btn-header{
    background-color: #7962b6;
    padding: .7rem;
    border-radius: .5rem;
}
.img-logo{
    width: 2.5rem;
}

/* FOOTER */
footer {
    margin-top: auto;
}

/* LOGIN */
.body-login{
    background-color: #0a0a0a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.div-login {
    display: flex;
    justify-content: center;
}
.form-control {
    border-color: #a789f9;
    border-radius: 5px;
}
.form-label{
    color: white;
}
.form-bg{
    background-color: #242424;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}
.login-box{
    background-color: #161616;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
}
.btn-login {
    background-color: #a789f9;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
}