.custom-bg{
    background-color: #0a0a0a;
    color: white;
}
a{
    text-decoration: none;
}
.header{
    background-color: #a789f9;
}

.login-footer {
    background-color: white;
    border-radius: 5px;
    border-color: black;
}

.games{
    border-top: 5px solid#242424;
}
.custom-page{
    border-radius: 1rem;
    background-color: #361414;
}
.game-img{
    border-radius: 1rem;
    margin: 1rem;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.custom-size{
    height: 15rem;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #a789f9;
    color: white;
    text-align: center;
    padding: 5px;
}

/* LOGIN */
.body-login{
    align-items: center;
}
.div-login {
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
}
.form-control {
    border-color: #a789f9;
    border-radius: 5px;
}
.form-label{
    color: white;
}
.form-check-label{
    color: white;
}