body{
    background-color: #0a0a0a;
    color: white;
}
.categories{
    border-radius: 1rem;
    border: 5px solid#5a5a5a;
    width: 30%;
}
.games{
    border: 5px solid#5a5a5a;
    border-radius: 1rem;
} 
.game-img{
    border-radius: 1rem;
    margin: 1rem;
    width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}